<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divida</title>
</head>
<body>
    <div id="formulario_divida">
        <form>
            <h2>Quer conferir quanto deve?</h2>
            <label>Nome</label>
            <input type="text" name="nome" id="login_divida" placeholder="Nome">
            <br>
            <label>Senha</label>
            <input type="password" name="senha" id="senha_divida" placeholder="Senha">
            <br>
            <!-- <input type="submit" value="Enviar" onclick="conferir()"> -->
            <button type="button" onclick="conferirDivida()">Enviar</button>
            <p id="resposta_dividendo">Dívida</p>
        </form>
    </div>
    <a href="../../index.html">Voltar</a>
    <script src="./script.js"></script>
</body>
</html>