html{
    background-color: gray;
}

#canvas {
    background-color: darkblue;
}

#formulario_divida{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2% 4%;
}

main{
    padding-top: 5%;
}

#divEfetuarCompra{
    padding-top:50px
}
