<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script defer src="./script.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <button type="button" id="pedidosLista">Pedidos Lista</button>
        <button type="button" onclick="usuariosLista()">Usuários</button>
    </header>
    <main>
        <section>
            <div id="listaPedidos">
                <h1>Pedidos por usuário:</h1>
                <input type="text" id="usuario" placeholder="Usuário">
            </div>
        </section>
        <aside>
            <div id="listaUsuarios">
                <h2>Lista Usuários:</h2>
            </div>
        </aside>
    </main>
    
</body>
<footer>
    <h1>
        <a href="../../index.html">Voltar</a>
    </h1>
</footer>
</html>
