<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Cadastro</title>
</head>
<body>
    <form action="" method="get">
        <h1>Cadastre-se</h1>
        <input type="text" placeholder="Login" id="cadastro_nome">
        <input type="password" placeholder="Senha" id="cadastro_senha">
        <button type="button" onclick="cadastrar()">Enviar</button>
    </form>
    <a href="../../index.html">Voltar</a>
    <script src="./script.js"></script>
</body>
</html>