<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Cadastro</title>
</head>
<body>
    <form action="" method="get">
        <h1>Cadastre-se</h1>
        <input type="text" placeholder="Login" id="cadastro_nome">
        <br>
        <input type="password" placeholder="Senha" id="cadastro_senha">
        <br>
        <h2>Escolha uma foto:</h2>
        <label for="imageFile">Precisamos de uma foto frontal para o reconhecimento facial:</label>
        <br>
        <input type="file" id="imageFile" accept=".jpg, .jpeg, .png" />
        <br>
        <button type="button" onclick="cadastrar()">Enviar</button>
    </form>
    <footer>
        <h1>
            <a href="../../index.html">Voltar para a loja</a>
        </h1>
    </footer>
    <script src="./script.js"></script>
</body>
</html>